body {
    font-family: 'Arial, sans-serif';
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


.dashboard-container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.search-container {
    margin-bottom: 20px;
}

.search-container input[type="text"] {
    padding: 10px;
    width: calc(100% - 120px); /* Full width minus button */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-container button {
    padding: 10px;
    background-color: #5a67d8;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #434190;
}

.journals h2 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

.journals ul {
    list-style-type: none;
    padding: 0;
}

.journals li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.btn-write, .btn-edit {
    display: inline-block;
    padding: 10px 15px;
    background-color: #5a67d8;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
}

.btn-write:hover, .btn-edit:hover {
    background-color: #434190;
}

.btn-delete {
    background-color: red; /* Change to your preferred color */
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-delete:hover {
    opacity: 0.8; /* Change opacity on hover */
}
/* Button Styles for Favorite/Unfavorite */
.btn-favorite, .btn-favorite {
    padding: 10px 15px;
    background-color: #5a67d8; /* Default background color for Favorite */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px; /* Space between buttons */
    text-align: center;
    transition: background-color 0.3s;
}

.btn-favorite:hover {
    background-color: #434190; /* Darker shade on hover */
}

.btn-favorite.is-favorite {
    background-color: #f39c12; /* Different color when marked as favorite */
}

.btn-favorite.is-favorite:hover {
    background-color: #e67e22; /* Darker shade for hover effect when favorite */
}

/* Show Favorite Entries Button */
.filter-favorites button {
    padding: 10px 15px;
    background-color: #5a67d8; /* Same color as other buttons */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filter-favorites button:hover {
    background-color: #434190; /* Darker shade on hover */
}
